<div class="container-navigation" data-navigation>
  <div class="navigation-logos" data-scroll>
    <div class="navigation-logos-group navigation-logos-orig">
      {{#each this}}
      <a 
        href="{{path}}"
        class="navigation-logo"
        data-nav-logo="{{path}}"
        style="background-image: url(content/{{path}}/assets/logo.jpg)"
      ></a>
      {{/each}}
    </div>
    <div class="navigation-logos-group navigation-logos-clone">
      {{#each this}}
      <a 
        href="{{path}}"
        class="navigation-logo"
        data-nav-logo="{{path}}"
      >
        <img src="content/{{path}}/assets/logo.jpg" alt="">
      </a>
      {{/each}}
    </div>
  </div>
</div>