/**
 * Header
 */

header {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 10;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/landscape.svg');
}

@media (orientation: portrait) {
  header {
    background-image: url('../assets/portrait.svg');
  }
}

/**
 * Feed
 */

[data-feed] {
  background: #000;
  display: none;
  position: relative;
  z-index: 9;
}

[data-iframe] [data-feed] {
  margin-top: 49px;
}

.current-label {
  color: #fff;
  display: none;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  span {
    display: inline-block;
    position: relative;
  }

}

[data-iframe] .current-label {
  top: 49px;
}

/**
 * Page
 */

.content {
  padding-top: 1rem;
  padding-bottom: 180px;
}

.gallery {
  position: relative;
  .type-small;

  &:first-child {
    margin-top: @padding-big;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: @padding-medium;
    right: @padding-medium;
    height: 0.74rem;
    background: #000;
  }

  &:before { top: -0.37rem }
  &:after { bottom: -0.37rem }

  > * {
    position: relative;
    padding-bottom: @padding-big;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0.75rem;
  }

  > *:not(:first-child):after {
    display: block;
    content: '';
    position: absolute;
    top: @padding-medium;
    bottom: @padding-medium;
    left: -0.37rem;
    width: 0.74rem;
    background: #000;
  }
}

[data-video-contain] {
  padding: @padding-big;
  text-align: center;
}
[data-aspect="4:3"] {
  position: relative;
  width: 50%;
  display: inline-block;
  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }
  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

[data-route] {
  display: none;
}

.container-pages {
  background: #fff;
}

.entry-title-fake,
.entry-title {
  line-height: 1;
  text-transform: uppercase;
  width: 90%;
}

[data-iframe] .entry-title-fake,
[data-iframe] .entry-title {
  margin-top: 49px;
}

.entry-title {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.entry-title-fake {
  visibility: hidden;
  margin-bottom: -1.2em;
}

.entry-title svg,
.entry-title-fake svg,
.entry-title img,
.entry-title-fake img {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.2;
  width: 100%;
}

.entry-close {
  background-image: url(../assets/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 1.5vw;
  right: @padding-medium - 0.4;
  height: 7vw;
  width: 7vw;
  z-index: 999;
}

[data-iframe] .entry-close {
  margin-top: 49px;
}

[data-wipe] {
  position: fixed;
  white-space: nowrap;
  top: -21.1vh;
  left: 0;
  bottom: 0;
  transform: translateX(0);
  color : white;
  z-index : 9999;
  line-height: 1;
  font-size : 132vh;
  text-transform : uppercase;
}

[data-iframe] [data-wipe] {
  top: -13.5vh;
  font-size: 124vh;
}

[data-wipe] span {
  display: block;
}

/**
 * Page Mobile
 */

@media only screen and (max-width: @screen-sm-min) {
  
  .content {
    padding-top: 2.5rem;
  }

  .gallery {

    > *:after,
    > *:not(:first-child):after {
      display: none;
    }

    .pad-xs-medium:last-child {
      padding-bottom: 2.25rem;
    }

    .pad-xs-medium:not(:last-child) {
      padding-bottom: 0;
    }

  }

  [data-aspect="4:3"] {
    width: 100%;
  }

  .entry-title,
  .entry-title-fake {
    top: 1.1rem;
    left: 1.1rem;
  }

  .entry-title svg path {
    // stroke-width: 5px;
    stroke-width: 0;
    fill: #000;
  }

  .entry-close {
    top: 4.3vw;
    right: 3.5vw;
  }

}

.page-hide-nav {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}

/**
 * Navigation
 */

.navigation-triggers {
  display: none;
  color: #fff;
  pointer-events: none;
  position: fixed;
  bottom: 2rem;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 999;

  span {
    display: inline-block;
    pointer-events: auto;
    cursor: pointer;
    &:hover {
      color: #dd0000;
    }
    &:last-child:not(:first-child) {
      margin-left: @padding-big * 2;
    }
  }
}

// .intro .navigation-triggers {
//   display: none;
// }

.subpage .navigation-triggers > * {
  color: #000;
}

.container-navigation {
  border-top: 0.74rem solid #fff;
  display: none;
  color: #fff;
  position: fixed;
  height: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.navigation-logos {
  font-size: 0;
  margin-top: -1px;
}

.navigation-logos-group {
  display: inline-block;
  height: 150px;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.navigation-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 150px;
  width: 300px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: @padding-medium;
    bottom: @padding-medium;
    left: -0.37rem * 2;
    width: 0.74rem * 2;
    background: #fff;
  }

  &.active:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.navigation-logo img {
  display: block;
  margin: 0 0 0 0;
  height: 150px;
  width: auto;
}

/**
 * About
 */
.container-about {
  .container-navigation;
  background-color: #000;
  display: block;
  transform: translateY(100%);
  a {
    color: #fff;
    &:hover {
      color: #dd0000;
    }
  }
}

[data-about-text] {
  height: 150px;
}

.rbma-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  position: relative;
  font-size: 0;

  &:before,
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: @padding-medium;
    bottom: @padding-medium;
    left: -0.37rem;
    width: 0.74rem;
    background: #fff;
  }

  &:after {
    left: auto;
    right: -0.37rem;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

[data-credit] {
  padding-left: @padding-big;
}

@media only screen and (max-width: @screen-md-min) {

  .container-about {
    height: auto;
    a {
      border-bottom: 1px solid #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  [data-about-text],
  [data-credit],
  [data-credit] .textFitted,
  .rbma-logo {
    height: auto;
    // .type-small
    font-family: "nimbus-sans", sans-serif!important;
    font-size: 1.75rem!important;
    line-height: 1.1!important;
    font-weight: normal!important;
    br { display: none; }
  }
  .rbma-logo {
    display: none;
  }
  [data-credit] {
    padding-top: 0;
    padding-left: @padding-medium;
  }
}

/**
 * Content
 */

.col img {
  max-width: 100%;
  height: auto;
}

/**
 * Youtube
 */

.youtube {
  height: 0;
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}