/**
 * Helpers
 */

.align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

/**
 * Visibility
 */

.hidden {
  display: none;
}

.visible {
  display: block;
}

/**
 * Bricks
 */

.block {
  position: relative;
  > *:not(.padder) {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    width: auto;
    height: auto;
  }
}
.block:hover {
  > *:not(.padder) {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .block {
    width: 100% !important;
  }
}

.brick {
  background: #fff;
  color: #000;
}

.brick-content {
  .align-middle;
  text-align: center;
}

.feed {
  padding: 1.5rem;
  font-size: 0;
  text-align: center;
  vertical-align: bottom;

  > * {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .feed { padding: 0; }
}