.type-heading {
  font-family: "franklin-gothic-urw-cond", sans-serif;
}

.type-heading {
  font-family: "franklin-gothic-urw-cond", sans-serif;
  font-weight: 700;
}

.type-demi {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
}

.type-small {
  font-family: "nimbus-sans", sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: normal;
  @media only screen and (max-width: @screen-md-min) {
    font-size: 1.75rem;
  }
}

.type-center {
  text-align: center;
}

.type-caps {
  text-transform: uppercase;
}

.type-medium {
  font-size: 2rem;
  .type-demi;
}

.type-big {
  font-size: 3.5rem * 2;
}

.type-massive {
  font-size: 13rem;
  line-height: 0.9;
  letter-spacing: -0.1rem;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;

  &:first-child { margin-top: 0 }
  &:last-child { margin-bottom: 0 }
}