<div data-zoom>
  <div data-name></div>
  <div data-img style="background-image:url('{{image}}');"></div>
  <div data-zoom>
    <div data-img style="background-image:url('{{image}}');"></div>
    <div data-zoom>
      <div data-img style="background-image:url('{{image}}');"></div>
    </div>
  </div>
</div>