<div class="container-pages" data-pages>
  {{#each this}}
  <div class="entry" data-route="{{path}}" style="display: none">
    <div class="entry-title type-heading row" data-title>
      <div class="col-xs-12">
        <div>
          <img src="/content/{{path}}/assets/title.svg">
        </div>
      </div>
    </div>
    <div class="entry-title-fake type-heading row">
      <div class="col-xs-12">
        <div>
          <img src="/content/{{path}}/assets/title.svg">
        </div>
      </div>
    </div>
    <a href="/" class="entry-close"></a>
    <div class="content">
      {{{content}}}
    </div>
  </div>
  {{/each}}
</div>