<div data-quadrant style="background-image:url('{{image}}');">
  <div data-unit style="background-image:url('{{image}}');"></div>
  <div data-unit style="background-image:url('{{image}}');"></div>
</div>