<div class="container-about" data-about>
  <div class="row">
    <div class="col col-xs-12 col-xs-offset-0 col-md-8 pad-xs-medium" data-about-text>
      <div>
        Independent record labels thrived in New York City during the ’80s, Endless 80s NYC is a celebration of their pioneering spirit. <a href="http://daily.redbullmusicacademy.com" target="_blank">A Red Bull Music Academy Project</a>.
      </div>
    </div>
    <div class="col col-xs-12 col-xs-offset-0 col-md-2 pad-xs-medium rbma-logo" style="background-image:url('/assets/rbma.jpg');">
      <div><a href="http://daily.redbullmusicacademy.com" target="_blank">redbullmusicacademy.com</a></div>
    </div>
    <div class="col col-xs-12 col-xs-offset-0 col-md-2 pad-xs-medium" data-credit>
      <div>
        Site by <br><a href="http://folderstudio.com" target="_blank">Folder Studio</a> <br>& <a href="http://jon-kyle.com/" target="_blank">Jon-Kyle</a>
      </div>
    </div>
  </div>
</div>