@import 'styles/reset';
@import 'styles/typography';
@import 'styles/structure';
@import 'styles/grid';
@import 'styles/layout';

/**
 * Options
 */

@screen-xs-min: 0;
@screen-sm-min: 640px;
@screen-md-min: 800px;
@screen-lg-min: 1060px;

@gutter: 0;
@margin: 0;

@padding-small: 0.75rem;
@padding-medium: 1.75rem;
@padding-big: 3rem;

body {
  background: #fff;
  color: #000;
  line-height: 1.05;
  font-size: 3.5rem;
  .type-demi;
}
body.intro {
  overflow: hidden;
}

@media only screen and (max-width: @screen-sm-min) {
  body {
    font-size: 2.25rem;  
  }
}

a {
  color: #dd0000;
  &:hover {
    color: #000;
  }
}

/**
 * Scrollbar Action
 */
body:not(.subpage)::-webkit-scrollbar { 
  width: 0; 
}

/**
 * Preloader
 */
[data-preloader] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  width: 100px;
  z-index: 9999;
  display: block;
  animation: spin 1s linear infinite;
  opacity: 0;
  path {
    stroke-dasharray  : 157.08932495117188 157.08932495117188;
    stroke-dashoffset : 157.08932495117188 / 2;
  }
}
@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

/**
 * Dummy
 */
.nav-dummy {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99999;

  > * {
    height: 49px;
  }
}

.dummy-menu {
  background: url(../assets/menu.jpg) no-repeat top left;
  background-size: contain;
  flex: 1 0 100px;
}

.dummy-title {
  background: url(../assets/title.jpg) no-repeat top center;
  background-size: contain;
  flex: 1 0 0;
}

.dummy-logo {
  background: url(../assets/logo.jpg) no-repeat top right;
  background-size: contain;
  flex: 1 0 100px;
}